/* start global  */
* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/body_bg.png);
    background-size: cover;
    background-position: center;
}

.btn-danger {
    color: #fff;
    background-color: #d96226;
    border: none;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
}

.text-danger {
    color: #d96226 !important;
}

/* End global  */

/* start header  */
.header {
    margin-top: 5%;
}

.header-caption {
    margin-top: 10%;
}

@media (max-width:768px) {
    .header-caption {
        margin-top: 0;
    }
}

/* End header  */

/* start about  */
.about {
    padding: 100px 100px 0;
}

@media (max-width:768px) {
    .about {
        padding: 30px;
    }

    .about h2 {
        margin-top: 0 !important;
    }
}

/* End about  */

/* start quality  */
.quality {
    padding: 30px;
}

.quality img {
    width: 200px;
    height: 200px;
}

/* End quality  */

/* start contact */
.contact {
    padding: 50px;
}

@media (max-width:768px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 0px !important;
    }

    .form-group input {
        margin-bottom: 20px;
    }

    .contact {
        padding: 30px;
    }
}

/* End contact */

/* start form  */
@media (max-width:992px) {
    .links {
        margin-top: 30px;
    }

    .Newsletter {
        margin-top: 30px;
    }
}

/* End form  */

/* start search  */
.search {
    padding-top: 5%;
}

@media(max-width:576px) {
    .search {
        padding-top: 20%;
    }

}

/* End search  */